<div class="container">
    <div class="row">
        <div class="col-lg-4">
<div class="card-deck ">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR4vZF7HzJV4l1_mVfali7zN3Vaj-uhM7CCT4BcPvXikr52rhnG" height="300px" class="card-img-top" alt="error">
          <div class="card-body">
            <h5 class="card-title">Upload Stock Price</h5>
            <p class="card-text">Upload the excel files Data to the Database.</p>
            
            <a  class="btn btn-secondary ">upload</a>
        </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="card-deck">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTuAnc3Y1ADIhpTK5VM8fXue_wsNW5CWrJMsabEDv6nJkPYc9pP" height="300px" class="card-img-top" alt="error">
          
          <div class="card-body">
            <h5 class="card-title">Show Chart </h5>
            <p class="card-text">Shows the Details of the Company stock in a chart. </p>
            
            <a class="btn btn-secondary" > chart</a>
          </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="card border-0 text-center">
          <img src="https://images.vexels.com/media/users/3/144882/isolated/preview/a98fa07f09c1d45d26405fa48c344428-company-building-silhouette-by-vexels.png" height="300px" class="card-img-top" alt="error">
          <div class="card-body">
            <h5 class="card-title">Companies</h5>
            <p class="card-text">Information about the Companies.</p>
            
            <button class="btn btn-secondary ">show</button>
          </div>
        </div>
        </div>
          </div>
          </div>

          

      

      